.domains-list {
  height: 26.5em;
  overflow: scroll;
  padding: 0 20px;
  font-family: var(--primary-font);
}

.chiplet {
  display: flex;
  border-top: 1px solid var(--gray-soft);
  padding: 14px 30px;
}

.chiplet-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.chiplet-description {
    padding-left: 1.5rem;
}
.chiplet-description a {
    color: #3399FF;
    font-weight: normal;
    cursor: pointer;
}

.chiplet-description a:hover {
    color: #84C1FF;
}

.chiplet-status-wrapper {
  position: relative;
  margin-left: 10px;
}

.chiplet-status-text {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.chiplet-status-circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 3px;
}

.chiplet-status-text .chiplet-status {
  width: 50px;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 0;
  text-align: center;
  line-height: 1.2;
}

.chiplet-status-active  {
  display: none;
}

.chiplet-status-pending .chiplet-status,
.chiplet-status-pending  .chiplet-status-circle {
    background-color: #F723A4;
}

.chiplet-status-pending .chiplet-status-circle:after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 20px;
  background: white;
  top: 2px;
  right: 2px;
  border-radius: 0 20px 20px 0;
}

.chiplet-status-expired .chiplet-status,
.chiplet-status-expired  .chiplet-status-circle {
    background-color: #D62D20;
}

.chiplet-status-expiring .chiplet-status,
.chiplet-status-expiring .chiplet-status-circle {
    background-color: #FFAA05;
}

.chiplet-status-expiring .chiplet-status-circle {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 14.5L1.5 10.5V1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 6px auto;
  background-position: 10px 4px;
}

.chiplet-arrow {
  margin-left: auto;
  cursor: pointer;
}

.chiplet-arrow svg {
  display: block;
}

.rif-back-button {
    font-size: 1rem;
    cursor: pointer;
}
.rif-back-button:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}
