.domain-info-container {
  padding: 0 28px;
}

.domain-detail {
  padding: 0 28px 28px;
}

.n-table {
  width: 100%;
}

.n-table-title {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-weight: 400;
  font-size: 16px;
  display: block;
  border-bottom: 1px solid var(--gray-soft);
  padding-bottom: 12px;
  margin-bottom: 0;
}

.n-table-td {
  border-bottom: 1px solid var(--gray-soft);
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
}

.n-table-td > div {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
}

.n-table-content {
}

.n-table-td > div div + .n-table-content-address,
.n-table-td > div div + .n-table-content-channels {
  margin-left: 10px;
}

.n-table-content-address,
.n-table-content-channels {
  width: 50%;
}

.n-table-content-address p,
.n-table-content-channels p {
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.n-table-actions {
  margin-left: auto;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.n-table-actions svg + svg {
  margin-left: 10px;
}

.n-table-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 5px;
}

.n-table-pagination-back,
.n-table-pagination-next {
  width: 10px;
  height: 10px;
  color: var(--primary-color);
  font-size: 0;
  background: transparent;
  border-radius: 0;
  position: relative;
  padding: 0;
}

.n-table-pagination-back:before,
.n-table-pagination-next:before {
  width: 10px;
  height: 10px;
  display: block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px auto;
}

.n-table-pagination-back:before {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11L1 6L6 1' stroke='currentColor'/%3E%3C/svg%3E");
}

.n-table-pagination-next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='currentColor'/%3E%3C/svg%3E");
}

.n-table-pagination-back[disabled],
.n-table-pagination-next[disabled] {
  color: var(--gray-text);
  background: transparent;
}

.n-table-pagination-active {
  color: var(--primary-color);
  font-size: 12px;
  text-decoration: underline;
  background: transparent;
  padding: 0 4px;
}

.n-table-pagination-inactive {
  color: var(--gray-text);
  font-size: 12px;
  background: transparent;
  padding: 0 4px;
}

.domain-detail-body {
  width: 90%;
  font-size: 1rem;
}

.domain-name {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
}

.domain-name span {
  margin-right: 1rem;
}

.domain-icon {
  margin-left: 0.5rem;
}

.domain-description {
  font-weight: bold;
  float: left;
  width: 100%;
  background-color: #B1BAC6;
  border-radius: 0.625rem;
  margin: 5%;
  padding: 0.625rem;
  white-space: nowrap;
}
.domain-description-value {
  font-weight: bold;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 75%;
}
.domain-description-field {
  font-weight: bold;
  overflow: hidden;
  display: inline-block;
}
.domain-description a {
  color: #3399FF;
  font-weight: normal;
  cursor: pointer;
}
.domain-description a:hover {
  color: #84C1FF;
}
.domain-description-plus-button {
  color: #4280D9;
  font-size: 3.5rem;
  float: right;
  margin: 5%;
  cursor: pointer;
  transition: all 0.2s;
}
.domain-description-plus-button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.domain-detail-new-button {
  cursor: pointer;
  float: right;
  width: 8rem;
  height: 2.5rem;
  color: #4280D9;
  background-color: #C2D6F3;
  border: 0.125rem solid #4280D9;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
}
.domain-detail-new-button:hover {
  transition: all 0.2s;
  border: 0.125rem solid #6799e0;
  background-color: #AEC0DA;
  color: #548CDC;
}
.domain-detail-new-button span {
  font-size: 1.2rem;
  margin-left: 0.3rem;
}
.domain-detail-watch-and-register {
  cursor: pointer;
  width: 15rem;
  height: 2.5rem;
  color: #4280D9;
  background-color: #C2D6F3;
  border: 0.125rem solid #4280D9;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
  white-space: nowrap;
  transform: translate(25%, 0);
}
.domain-detail-watch-and-register:hover {
  transition: all 0.2s;
  border: 0.125rem solid #6799e0;
  background-color: #AEC0DA;
  color: #548CDC;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.centerY {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateX(-50%) translateY(-50%);
}
.resolvers-body{
  width: 100%;
  margin: 5%;
  padding: 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resolver-body-top {
  width: 100%;
}

.custom-select{
  width: 50%;
  float: left;
}
.select-css {
  background-color: white;
	font-size: 1rem;
	line-height: 1.3;
  padding: 0.25rem 0rem 0.25rem 0.25rem;
	width: 100%;
	max-width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
	appearance: none;
}
.resolver-chainaddress {
  width: 100%;
  margin-top: 2rem;
}
.resolver-chainaddress-description {
  width: 100%;
  float: left;
  font-size: 1.3rem;
  margin-top: 0.75rem;
  border-bottom: 0.063rem solid #C0C0C0;
}
.resolver-chainaddress-description-chain {
  width: 30%;
  float: left;
}
.resolver-chainaddress-description-chain-address {
  width: 70%;
  float: left;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resolver-chainaddress-description-chain-address span {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.payments-title {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 18px;
}

.payment-mode-dropdown {
  max-width: 170px;
  margin: 0 auto 30px;
}


.payment-mode-dropdown .mode-dropdown-item {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.payment-mode-dropdown .mode-dropdown-item + div {
  display: block !important;
  height: auto;
}

.payment-legend {
  color: var(--primary-color);
  font-size: 8px;
  display: block;
  line-height: 1.2;
}