.tokens-dropdown-option {
  display: flex;
  justify-content: space-between;
}

.tokens-dropdown-option>div {
  width: 100%;
  margin: 1em;
}

.tokens-dropdown-option>svg {
  margin: 1em;
}

.tokens-dropdown-option:hover {
  background: #d7d6d6;
}
