@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #572990;

  --gray-soft: #DFDFDF;
  --gray-text: #979797;

  --gray-modal: #D8D8D8;
  --gray-modal-title: #515052;
  --gray-modal-btn: #767677;

  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

/* HEADER */
.arrow-left {
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 16L2 8.5L10 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  left: 25px;
}

.page-title {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  padding: 0 20px;
  margin: 12px 0 18px;
}

/* SEARCH BAR */
.search-bar-container {
  width: 100%;
  max-width: 317px;
  margin: 0 auto 18px;
  padding: 34px 0 0;
}

.search-bar {
  width: 100%;
  display: block;
  border-width: 0 0 1px 0;
  border-color: var(--primary-color);
  padding: 6px 0;
  font-family: var(--primary-font);
  font-size: 16px;
  text-align: center;
  font-weight: 400;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='5' r='4.5' stroke='%235A2992'/%3E%3Cpath d='M5 9L1 14' stroke='%235A2992'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.search-bar::-webkit-input-placeholder {color: var(--primary-color);}
.search-bar:-ms-input-placeholder {color: var(--primary-color);}
.search-bar::placeholder {color: var(--primary-color);}

.btn-primary {
  background-color: var(--primary-color);
  padding: 4px 10px;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}

/* UTILITIES */

.text-center {
  text-align: center;
}

.ml-0 {
  margin-left: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 10px;
}

.mb-4 {
  margin-bottom: 40px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.c-pointer {
  cursor: pointer;
}

/* BTN */
.btn-primary-outlined {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-primary-outlined + .btn-primary-outlined {
  margin-left: 14px;
}

.btn-pay {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-add {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 12px;
  text-align: center;
  margin: 10px auto 30px;
  cursor: pointer;
}

.btn-add svg {
  margin-right: 7px;
}

.btn-add > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SPINNER */
@keyframes rotate {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

.app-loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0 200,200'%3E%3Cdefs%3E%3CclipPath id='ring'%3E%3Cpath d='M200,100A100,100,0,1,1,197.81,79.21L188.03,81.29A90,90,0,1,0,190,100z'/%3E%3C/clipPath%3E%3Cfilter id='blur' x='0' y='0'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='3'/%3E%3C/filter%3E%3Cpath id='p' d='M250,100A150,150,0,0,1,246.72,131.19L100,100A0,0,0,0,0,100,100z' fill='%23572990'/%3E%3C/defs%3E%3Cg clip-path='url(%23ring)'%3E%3Cg filter='url(%23blur)' transform='rotate(-6 100 100)'%3E%3Cuse xlink:href='%23p' fill-opacity='0' transform='rotate(0 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.03' transform='rotate(12 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.07' transform='rotate(24 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.1' transform='rotate(36 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.14' transform='rotate(48 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.17' transform='rotate(60 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.2' transform='rotate(72 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.24' transform='rotate(84 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.28' transform='rotate(96 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.31' transform='rotate(108 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.34' transform='rotate(120 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.38' transform='rotate(132 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.41' transform='rotate(144 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.45' transform='rotate(156 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.48' transform='rotate(168 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.52' transform='rotate(180 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.55' transform='rotate(192 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.59' transform='rotate(204 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.62' transform='rotate(216 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.66' transform='rotate(228 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.69' transform='rotate(240 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.7' transform='rotate(252 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.72' transform='rotate(264 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.76' transform='rotate(276 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.79' transform='rotate(288 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.83' transform='rotate(300 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.86' transform='rotate(312 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.93' transform='rotate(324 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='.97' transform='rotate(336 100 100)'/%3E%3Cuse xlink:href='%23p' fill-opacity='1' transform='rotate(348 100 100)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* SELECT */

.Select-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-color: var(--gray-text);
  position: relative;
  height: auto;
  padding-bottom: 7px;
}

.Select-arrow-zone {
  margin-top: -6px;
  position: absolute;
  top: 50%;
  right: 0;
}

.Select-arrow-zone .combo-selector-triangle {
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L6.5 7L1 1' stroke='%23979797'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px auto;
  border: none;
}

.Select .Select-menu-outer {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.edit-submit-container {
  display: flex;
  margin: 10px 0;
}

.edit-submit-container input {
  border-radius: 12px;
  height: 30px;
  border: 1px solid var(--gray-text);
  text-align: center;
  flex: 1;
}

.edit-submit-container input + button {
  margin-left: 10px;
}

/* Resolver Page */

.resolver-setting-container {
  padding: 0 28px;
}

.resolver-setting-container .resolver-setting__title {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.resolver-setting-container .resolver-setting__text {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.resolver-setting-container #comboResolvers {
  width: 100%;
  max-width: 200px;
  border: 1px solid var(--gray-text);
  padding: 4px;
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 12px;
}