.button-container {
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
}

.button-container>button {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 0.3em;
  background: #A8C5EE;
  border: solid 0.1em #4a74b3;
  color: black;
}

.domainRegisterInitiate {
  padding: 1em;
}

.domainRegisterInitiate>div>span {
  margin-right: 0.4em;
}

.domainRegisterInitiate>div {
  margin-top: 1em;
}

.domainRegisterAnimation {
  display: flex;
  flex-flow: column;
  padding: 3em;
  align-items: center;
}

.domainRegisterAnimation>div {
  color: #00a344;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2em;
  text-align: center;
}

.checkmark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  stroke: #fff;
  stroke-width: 5;
  stroke-miterlimit: 10;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 100vh #7ac142;
  }
}

.domainRegisterProgress>div {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-transform: uppercase;
  color: #00a344;
  font-size: 0.9em;
  font-weight: bold;
}

.domainRegisterProgress>div>progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 70%;
  height: 2em;
  margin-top: 1em;
}

.domainRegisterProgress>div>progress[value]::-webkit-progress-bar {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.domainRegisterProgress>div>progress[value]::-webkit-progress-value {
  background: #00a344;
  border-radius: 2px;
}

.domainRegisterProgress>div>article {
  border-radius: 50%;
  background-size: 88%;
  height: 10em;
  padding-bottom: 31%;
  position: relative;
  width: 10em;
  border: solid 0.2em #00a344;
  margin: 2em;
}

.domainRegisterProgress>div>article:after {
  background: #00a344;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.minutes {
  background: #00a344;
  height: 55%;
  left: 49%;
  position: absolute;
  top: 4%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconds {
  background: #00a344;
  height: 55%;
  left: 49.5%;
  position: absolute;
  top: 4%;
  transform-origin: 50% 80%;
  width: 0.5%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.seconds-container {
  animation: rotate 120s infinite linear;
}

.un-animated .seconds-container {
  animation: none;
}
