.domain-detail-body {
    width: 90%;
    font-size: 1rem;
}
.domain-name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    margin-top: 15%;
    padding: 10px;
    background-color: #A8C5EE;
}
.domain-name span {
    margin-right: 15px;
}
.domain-icon {
    margin-left: 8px;
}
.domain-description {
    font-weight: bold;
    float: left;
    width: 100%;
    background-color: #B1BAC6;
    border-radius: 10px;
    margin: 5%;
    padding: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.domain-description-value {
    font-weight: bold;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 75%;
}
.domain-description-field {
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
}
.domain-description a {
    color: #3399FF;
    font-weight: normal;
    cursor: pointer;
}
.domain-description a:hover {
    color: #84C1FF;
}
.domain-description-plus-button {
    color: #4280D9;
    font-size: 3.5rem;
    float: right;
    margin: 5%;
    cursor: pointer;
    transition: all 0.2s;
}
.domain-description-plus-button:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}
.domain-detail-new-button {
    cursor: pointer;
    float: right;
    width: 130px;
    height: 40px;
    color: #4280D9;
    background-color: #C2D6F3;
    border: 2px solid #4280D9;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    transition: all 0.2s;
}
.domain-detail-new-button:hover {
    transition: all 0.2s;
    border: 2px solid #6799e0;
    background-color: #AEC0DA;
    color: #548CDC;
}
.domain-detail-new-button span {
    font-size: 1.2rem;
    margin-left: 5px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.centerY {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
}
.resolvers-body{
    width: 100%;
    margin: 5%;
    padding: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.resolver-body-top {
    width: 100%;
    background-color: blue;
}
.resolver-network {
    width: 100%;
    margin-top: 20%;
}
.custom-select{
    width: 50%;
    float: left;
}
.select-css {
    background-color: white;
	font-size: 16px;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
	appearance: none;
}
.resolver-network-description {
    font-size: 1.3rem;
    margin-top: 25px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border-bottom: 1px solid #C0C0C0;
}
.resolver-network-description span {
    margin-left: 5px;
}
.resolver-network-description-address {
    font-size: 1rem;
    margin-right: 5px;
    float: right;
}