.button-container {
  text-align: center;
}

.domainRegisterInitiate {
  font-family: var(--primary-font);
  padding: 0 20px;
}

.number-years-to-buy {
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.buying-name {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 30px 0;
  text-align: center;
}

.title-years {
  font-family: var(--secondary-font);
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 300;
}

.qty-years {
  margin: 0 15px;
  color: var(--primary-color);
}

.qty-years .btn-minus,
.qty-years .btn-plus {
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.qty-years .btn-plus svg {
  position: relative;
  top: 3px;
}

.qty-years .qty-number {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--primary-color);
}

.discount-msg {
  font-family: var(--secondary-font);
  color: var(--gray-text);
  font-size: 9px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

.discount-msg span {
  display: block;
  color: var(--primary-color);
}

.domain-cost {
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}

.cost-number {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px;
  flex-basis: 72px;
  text-align: center;
}

.cost-number small {
  font-size: 12px;
}

.domain-register-disclaimer {
  font-family: var(--secondary-font);
  color: var(--gray-text);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
  max-width: 260px;
  margin: 20px auto;
}
