.rif-tabs {
  display: flex;
  flex-direction: column;
}

.rif-tabs-bar {
  height: 75px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rif-tab-content__inside {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 113px);
}

.rif-tabs-bar li {
  margin: 0 15px;
}


.rif-tabs-bar-item {
  cursor: pointer;
  font-family: var(--primary-font);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.rif-tabs-back-button {
  color: #fff;
  position: absolute;
  left: 5px;
}

.rif-tabs-bar .rif-tabs-bar-item-active {
  border-bottom: solid 2px #fff;
}
