.add-address-container {
  margin-bottom: 48px;
}

.add-address-container .Select-control {
  max-width: 200px;
  border-width: 1px;
  padding: 2px;
  color: var(--gray-text);
  font-size: 12px;
}

.add-address-container .Select-control .Select-input {
  height: auto;
  display: inherit !important;
}

.add-address-container .Select-control svg + span{
  margin-left: 5px;
}

.add-address__inputs {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.add-address__inputs #inputAddress {
  flex: 1;
  padding-right: 10px;
}

.add-address__inputs #inputAddress input {
  width: 100%;
  border-radius: 12px;
  height: 32px;
  border: 1px solid var(--gray-text);
  text-align: center;
  font-size: 12px;
}