.add-new-multicrypto-modal {
    width: 17.5rem;
}
.custom-select{
    float: left;
}
.full-width {
    width: 100%;
    position: relative;
}
.add-new-multicrypto-title {
    text-align: center;
    font-size: 1.5rem;
    color: #3399FF;
}
.add-new-multicrypto-select {
  flex: 0 0 auto;
}

.add-new-multicrypto-select-value {
  padding-right: 40px;
  align-items: center;
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 400;
}

.add-new-multicrypto-select .Select-input {
    display: none !important;
}
.add-new-multicrypto-select-value-icon {
    margin-right: 5px;
}
.add-new-multicrypto-select-value-text {
    margin-left: 5%;
}

.add-new-multicrypto-input {
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.add-new-multicrypto-input input{
    width: 90%;
    margin: 5%;
    font-size: 1rem;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
}
.add-new-multicrypto-bottom {
    display: flex;
}
.add-new-multicrypto-button-cancel {
    width: 50%;
    float: left;
    position: relative;
}
.add-new-multicrypto-button-save {
    width: 50%;
    float: left;
    position: relative;
}