.label-spacing-left {
    margin-left: 0.3rem;
}
.combo-selector-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 0.6rem 0 0.6rem;
    border-color: #007bff transparent transparent transparent;
}
.default-icon {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}
.hand-over {
  cursor: pointer;
}
.body {
  width: 100%;
  overflow: scroll;
  height: 26.5em;
  overflow-x: hidden;
  font-family: var(--primary-font);
}
.delete-button {
  background: #FF001F;
  color: white;
}

.form-segment {
  display: flex;
  margin: 20px 1em;
  justify-content: center;
}

.form-segment>button {
  margin: 0.2em;
}

.form-segment > span {
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}
