.rif-app-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.rif-app-container.rif-app-back-button {
  width: 1em;
  height: 1em;
}

.rif-home-body {
  overflow-y: auto;
  width: 100%;
}
