.open-channel-message {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.open-channel-message>div {
  text-align: center;
  width: 15em;
}
.open-channel-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.amount-input {
  max-width: 60px;
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-color: var(--gray-text);
  position: relative;
  height: auto;
  padding-bottom: 7px;
  margin-left: 30px;

  font-family: var(--primary-font);
  color: #D8D8D8;
  font-size: 12px;
  text-align: center;
}

.amount-input::placeholder {
  color: #D8D8D8;
}

.amount-input--open-channel,
.amount-input--deposit-channel {
  min-width: 89px;
  margin-left: 0;
}

.domain-address-input {
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-color: var(--gray-text);
  position: relative;
  height: auto;
  padding-bottom: 7px;
  margin-right: 10px;

  font-family: var(--primary-font);
  color: #D8D8D8;
  font-size: 12px;
  text-align: center;
}

.domain-address-input::placeholder {
  color: #D8D8D8;
}

.domain-address-input--open-channel {
  min-width: 176px;
}